*.zip
*.aab
*.apk
*.ipa
*.dmg
*.iso
node_modules/
vendor/
.cache/
.pub-cache/
storage/*.sqlite
storage/*.log
*.log
.env
dist/
.next/
.nuxt/
.output/
.DS_Store
Thumbs.db
firebase.json
serviceAccountKey.json
service-account.json
credentials.json
secret.json
test.json